vcs.xml
proguard/
out/
local.properties
lint/*
gen/
ehthumbs.db
captures/
build/
bin/
Thumbs.db
/*/build/
.signing/
.navigation/
.idea/*
.gradle/
.externalNativeBuild/
.cxx/
._*
.Trashes
.Spotlight-V100
.DS_Store?
.DS_Store
*.log
*.iml
*.iml
*.dex
*.class
*.apk
*.ap_
*.aar
*.aab
app/debug/
app/release/
