<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.freenetproject.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.about.activity.AboutActivity"
            android:label="App info"
            android:parentActivityName=".ui.main.activity.MainActivity" ></activity>
        <activity
            android:name=".ui.settings.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.activity.MainActivity" />

        <service
            android:name=".services.node.Service"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.freenetproject.mobilenode.intent.action.START_NODE" />
                <action android:name="org.freenetproject.mobilenode.intent.action.STOP_NODE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
